/* Temp, you need to delete */
/* *, *::before, *::after {
    border: 1px solid black;
    width: 100%;
} */

:root {
  --font-color-primary: rgb(230, 5, 5);
  --border-bottom: 3px solid var(--font-color-primary);
  --font-size-generic: 1em;
  --font-size-header: 1.5em;
  --font-family-default: Arial, Helvetica, sans-serif;
}

/* this app should be applies on all files */
.app {
    height: 100vh;
    width: 100vw;
}

