.notifications {
	padding: 1em;
	border: 2px dashed red;
	display: flex;
	flex-direction: column;
	width: 400px;
	margin-left: auto;
}

.menuItem{
	margin: 0;
	text-align: end;
}

.close-icon{
	height: 10px;
	width: 10px;
	position: "relative";
	justify-content: "center";
	align-self: "center";
	/* border: 1px solid black; */
}

[data-notification-type="urgent"] {
	color: red;
}

[data-notification-type="default"] {
	color: blue;
}
